h1 {
    font-size: 250%;
    text-align: center;
    padding: 2rem;
}
main {
    text-align: left;
}

.start-button {
    display: inline-block
    
}
header {
    text-align: center;
}
.timer-count {
    text-align: right;
    font-size: 200%;
    font-weight: bold;
    padding: 2rem;
}

.answer, h3 {
    display: inline;
}
.answer {
    height: 2rem;
    width: 2rem;
}
button {
    display: block;
    font-size: 24px;
    width: 250px;
    margin: 0 auto;
}
#home-screen {
    margin: 12rem;
    width: 50%;
    /* padding: 10rem; */
}
#quiz-card {
    height: 100%;
    width: 100%;
}
#response {
    text-align: center;
    font-size: 25px;
}